version: '2'

services:
  db:
    image: postgres:alpine
    restart: always
    environment:
        POSTGRES_USER: "snapchat"
        POSTGRES_PASSWORD: "snapchat"
        POSTGRES_DB: "song_snapchat"
  web:
    build: web/
    environment:
      SECRET_KEY: "3558818dc29b7345bce995003f57dd"
      DEBUG: "False"
      STATIC_ROOT: '/code/app/static/'
      MEDIA_ROOT: '/code/app/media/'
      ALLOWED_HOSTS: "*"
      DATABASES: "{'default': {'ENGINE': 'django.db.backends.postgresql_psycopg2', 'NAME': 'song_snapchat', 'USER': 'snapchat', 'PASSWORD': 'snapchat', 'HOST': 'db', 'PORT': '',}}"
      SITE_NAME_HUMAN: "Snapchat for songs"
    command: bash -c "python3 /code/app/manage.py makemigrations --merge && python3 /code/app/manage.py migrate && python3 /code/app/manage.py collectstatic --noinput && cd /code/app/ && gunicorn song_snapchat.wsgi -b unix:/code/app/song_snapchat.sock --workers 3"
    volumes:
      - ./web:/code
    depends_on:
      - db
    restart: always
