{% extends 'main/base.html' %}
{% load static %}

{% block content %}

  {% if songs_arranged %}
    <div class="container">
      {% for row in songs_arranged %}
        <div name="row">
          {% for song in row %}
            <a href="{% url 'song' song.token %}" class="btn song-tile {% if song.visited %} btn-secondary disabled {% else %} btn-primary {% endif %} js-scroll-trigger" value="{{song}}">{{song}}</a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% else %}
      <h2 class="text-white-50 mx-auto mt-2 mb-5">No songs are available</h2>
  {% endif %}

  <div class="test-song-container">
    <script>
      function play_test(){
        var audio = document.getElementById("test-sound-audio");
        audio.play();
      }
   </script>
    <audio id="test-sound-audio" src="{% static "snapchat/audio/guitar.mp3" %}" ></audio>

    <button class="btn song-tile test-song-button btn-secondary js-scroll-trigger" onclick="play_test()">
      <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>Test sound
    </button>
  </div>

{% endblock %}
