{% extends 'main/base.html' %}

{% block content %}

  {% if songs_arranged %}
    <div class="container">
      {% for row in songs_arranged %}
        <div name="row">
          {% for song in row %}
            <a href="{% url 'song' song.token %}" class="btn song-tile {% if song.visited %} btn-secondary disabled {% else %} btn-primary {% endif %} js-scroll-trigger" value="{{song}}">{{song}}</a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% else %}
      <h2 class="text-white-50 mx-auto mt-2 mb-5">No songs are available</h2>
  {% endif %}

{% endblock %}
