{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<!-- If user visits snap the first time, popup with information will appear -->
<div id="ac-wrapper" style='display:none' onClick="hideNow(event)">
    <div id="popup">
        {% include "snapchat/popup.html" %}
    </div>
</div>

<script>
function PopUp(hideOrshow) {
    if (hideOrshow == 'hide') {
        document.getElementById('ac-wrapper').style.display = "none";
    }
    else  if(localStorage.getItem("popupWasShown") == null) {
        localStorage.setItem("popupWasShown",1);
        document.getElementById('ac-wrapper').removeAttribute('style');
    }
}
window.onload = function () {
    setTimeout(function () {
        PopUp('show');
    }, 0);
}

function hideNow(e) {
    if (e.target.id == 'ac-wrapper') document.getElementById('ac-wrapper').style.display = 'none';
}
</script>

  {% if songs_arranged %}
    <div class="container song-tiles-container">
      {% for row in songs_arranged %}
        <div name="row">
          {% for song in row %}
            <a href="{% url 'song' song.token %}" class="btn song-tile {% if song.visited %} btn-secondary disabled {% else %} btn-primary {% endif %} js-scroll-trigger" value="{{song}}">
              {% if song.name|length > 0 %}
                {{song}}
              {% else %}
                &nbsp;
              {% endif %}
            </a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% else %}
      <h2 class="text-white-50 mx-auto mt-2 mb-5">No songs are available</h2>
  {% endif %}

  <div class="test-song-container">
    <script>
      function play_test(){
        var audio = document.getElementById("test-sound-audio");
        audio.play();
      }
   </script>
    <audio id="test-sound-audio" src="{% static "snapchat/audio/short_sms.mp3" %}" ></audio>

    <button class="btn song-tile test-song-button btn-secondary js-scroll-trigger" onclick="play_test()">
      <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span><span class="test-sound-text"><i class="fas fa-volume-up"></i>&nbsp;&nbsp;Test sound</span>
    </button>
  </div>

<script type="text/javascript" src="scripts/jquery.cookies.2.2.0.min.js"></script>

{% endblock %}
