{% extends 'main/base.html' %}
{% load static %}

{% block content %}
      <h2 class="text-white-50 mx-auto mt-2 mb-5">
        {% if was_song_visited %}
          Song was already played
        {% else %}
            <audio src="{{ song.upload.url }}" autoplay>
              <p>If you are reading this, it is because your browser does not support the audio element.</p>
            </audio>
          {% if not song.description %}
            <div class="gramophone-container">
              <img class="gramophone-image" src="{% static "snapchat/img/gramophone.gif" %}" />
            </div>
          {% else %}
            {{song.description}}
          {% endif %}
        {% endif %}
      </h2>
      <a style="position: relative; fixed; bottom: 0px;" href="{% url 'snap' snap_token %}" class="btn btn-secondary js-scroll-trigger">Back</a>

{% endblock %}
