.song-tile{
  margin:20px;
  min-height: 5em;
  min-width: 8em;
}

.gramophone-image{
  border-radius: 10px;
  box-shadow: 10px;
  max-width:500px;
  max-height:387px;
  width: 100%;
  height: 100%;
}

.gramophone-container{
  padding: 20px;
  width: 100%;
  max-width:500px;
  max-height:387px;
}

.test-song-button{
  position: absolute; right: 50px; bottom: 50px;
}

.test-sound-text{
}
