body {
  background-color: black;
}

.song-tile{
  margin:20px;
}

@media only screen and (min-device-width: 480px) {
  .song-tiles-container{
    position: relative;
    top: 100px;
  }
}

.gramophone-image{
  border-radius: 10px;
  box-shadow: 10px;
  max-width:500px;
  max-height:387px;
  width: 100%;
  height: 100%;
}

.gramophone-container{
  padding: 20px;
  width: 100%;
  max-width:500px;
  max-height:387px;
}

.test-song-button{
  position: absolute; right: 50px; bottom: 50px;
  padding-left: 25px;
}

.test-sound-text{
}

.add-song-form label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.add-song-form textarea {
  width: 100%;
  max-width: 500px;
}

/* Elements with this class will be displayed only on mobile */
.mobile-show { display: none;}

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .mobile-show {display: block;}
}

/* Elements with this classs will be hidden on mobile */
.mobile-hide { display: block; }

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
   .mobile-hide { display: none;}
}

.share-snap-link{
  color: #c6c6c6;
}
