body {
  background-color: black;
}

.song-tile{
  margin:20px;
}

@media only screen and (min-device-width: 480px) {
  .song-tiles-container{
    position: relative;
    top: 100px;
  }
}

.gramophone-image{
  border-radius: 10px;
  box-shadow: 10px;
  max-width:500px;
  max-height:387px;
  width: 100%;
  height: 100%;
}

.gramophone-container{
  padding: 20px;
  width: 100%;
  max-width:500px;
  max-height:387px;
}

.test-song-button{
  position: absolute; right: 50px; bottom: 50px;
}

.test-sound-text{
}
