body {
  background-color: #171615;
}

.song-tile{
  margin:20px;
}

.gramophone-image{
  border-radius: 10px;
  box-shadow: 10px;
  max-width:500px;
  max-height:387px;
  width: 100%;
  height: 100%;
}

.gramophone-container{
  padding: 20px;
  width: 100%;
  max-width:500px;
  max-height:387px;
}

.test-song-button{
  position: absolute; right: 50px; bottom: 50px;
  padding-left: 25px;
}

.test-sound-text{
}

.add-song-form label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.add-song-form textarea {
  width: 100%;
  max-width: 500px;
  max-height: 150px;
}

.add-song-form input {
  max-width: 100%;
}

/* Elements with this class will be displayed only on mobile */
.mobile-show { display: none;}

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .mobile-show {display: block;}
}

/* Elements with this classs will be hidden on mobile */
.mobile-hide { display: block; }

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
   .mobile-hide { display: none;}
}

.share-snap-link{
  color: #c6c6c6;
}

#ac-wrapper {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(30, 30, 30, 0.8);
z-index: 1001;
}
#popup {
background: none repeat scroll 0 0 #FFFFFF;
border-radius: 18px;
-moz-border-radius: 18px;
-webkit-border-radius: 18px;
height: auto;
margin: 5% auto;
margin-top: 100px;
position: relative;
width: 597px;
max-width: 90%;
border-style: solid;
border-width: 2px;
border-color: #4f837f;
padding: 15px;
}

#popup li {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.close-pop-up {
  position: absolute;
  top: 5px;
  right: 10px;
}

.button-pop-up {
  margin-top: 20px;
  margin-bottom: 15px;
}

.content {
  max-width: 90%;
}

.errorlist li {
  color: rgba(255, 255, 255, 50);
  font-weight: bold;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.5);
  z-index: 1001;
}

#loader {
  background: none;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  width: 120px;
  height: 120px;

  position: absolute;;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader-circle {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-device-width : 480px) {
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-masthead-md.jpg");
}
